@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-semibold transition-colors duration-200;
  }
  
  .btn-primary {
    @apply bg-primary text-white hover:bg-opacity-90;
  }
  
  .btn-secondary {
    @apply bg-white text-black hover:bg-gray-100;
  }
} 